<section id="login">
	<h1>Login</h1>
	<form action="/login" method="post" id="login-form">
		<p class="r">Username</p>
		<input type="text" name="username" id="username" class="logininput">
		<p class="r">Password</p>
		<input type="password" name="password" id="password" class="logininput">
		<input type="submit" value="Submit" id="log-submit">
	</form>
</section>