<section id="new">
	<h1>Add new Post</h1>
	<form action="/" method="post" enctype="multipart/form-data" id="new-post">
		<p id="new-a">Author</p>
			<input type="text" name="author" id="n-author">
			<p id="invalid-nauthor"></p>
		<p id="new-t">Title</p>
			<input type="text" name="title" id="n-title">
			<p id="invalid-ntitle"></p>
		<p id="new-c">Content</p>
			<textarea name="content" id="n-content"></textarea>
			<p id="invalid-ncontent"></p>
			<p id="new-c">Header</p>
			<input type="file" name="file" id="n-header" >			
		<input type="submit" value="Submit" id="new-submit">	
	</form>
</section>