<section id="reg">
	<h1>Registration</h1>
	<form action="/register" method="post" id="reg-form">
		<p class="r">Username</p>
		<input type="text" name="username" id="username" class="reginput">
		<p id="invalid-username"></p>
		<p class="r">Password</p>
		<input type="password" name="password" id="password" class="reginput">
		<p id="invalid-password"></p>
		<input type="submit" value="Submit" class="submit">
	</form>
</section>